h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.entry-content {
	text-align: left;
	font: {
		size: 18px;
		weight: 400;
		family: $font__secondary;
	}
	h1 {
		font: {
			size: 30px;
			weight: 300;
			family: $font__main;
		}
		letter-spacing: 3px;
		width: auto;
		display: inline-block;
		border-bottom: 3px solid $color-teal;
		margin: 0 auto 15px auto;
		text-transform: uppercase;

	}
}
header.titles {
	width: 100%;
	text-align: center;
}