
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
header.site-header {
	width: 100%;
	float: left;
	position: relative;
	padding-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		height: 230px;
		padding: 0;
	}
	@media screen and (min-width: $deskwidth) {
		
		
	}
}
/* Logo */
.logo , h1.logo {
	width: 280px;
	height: 206px;
	position: relative;
	z-index: 10000;
	background: {
		image: url(images/logo.png);	
		repeat: no-repeat;
		size: cover;
	}
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		position: absolute;
		margin: 0;
		left: 0;
		top: 10px;
	}
	@media screen and (min-width: $midwidth) {
		left: 2%;
	}
	@media screen and (min-width: $midwidth) {
		left: 5%;
	}
}
.logo a, h1.logo a {
	width: 280px;
	height: 206px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 280px;
		height: 206px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}

}
#content {
	width: 100%;
	float: left;
	background: {
		image: url(images/wood.jpg);
		size: cover;
		repeat: no-repeat;
	}
	padding-bottom: 150px;
	@media screen and (min-width: $tabwidth) {
		
		margin: -14px 0 0 0 ;
		
	}
}
.footer-top {
	width: 100%;
	position: absolute;
	line-height: 0;
	top: -35px;
	left: 0;
	@media screen and (min-width: $smallwidth) {
		top: -40px;
	}
	@media screen and (min-width: $tabwidth) {
		top: -70px;
	}
	@media screen and (min-width: $midwidth) {
		top: -80px;
	}
	@media screen and (min-width: $deskwidth) {
		top: -120px;
	}
	@media screen and (min-width: $largewidth) {
		top: -130px;
	}


	img {
		width: 100%;
		float: left;
	}
}
footer.site-footer {
	width: 100%;
	background-color: $color-teal;
	position: relative;
	float: left;
	padding: 40px 0;
	color: $color-dark-gray;
	font: {
		family: $font__secondary;
	}
	a {
		color: $color-dark-gray;
	}

	h1, h2, h3 {
		font: {
			family: $font__main;
			weight: 400;
		}
		letter-spacing: 3px;
	}

}
.foot-col {
	// color: #fff;
	font: {
		size: 18px;
		weight: 300;
	}

	@media screen and (min-width: $tabwidth) {
		font-size: 16px;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 18px;
	}

	h3 {
		margin: 0 0 5px 0;
		font: {
			size: 21px;
			weight: 300;
		}
		

		@media screen and (min-width: $tabwidth) {
			font-size: 18px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 21px;
		}
	}
	.item {
		width: 100%;
		float: left;
		margin: 0 0 20px 0;
	}
	a {
		color: #fff;
	}
	h3.center {
		text-align: center;
	}
}
.footer-col-1 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;

	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: left;
		margin: 0 9% 50px 0;
		text-align: left;
	}
}
.footer-col-2 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
		float: left;
		margin: 0 0% 50px 0;
		text-align: left;
	}
}
.footer-col-3 {
	width: 100%;
	margin: 0 auto 40px auto;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		width: 25%;
		float: right;
		text-align: left;
	}
	h3.center {
		text-align: center;
	}
	.behailu {
		width: 50%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}
.swoosh	{
	width: 100%;
	img {
		width: 100%;
	}
	&.bottom-swoosh {
		margin: 0 0 50px 0;
		float: left;
	}
	&.top-swoosh {
		// margin: 0 0 50px 0;
		position: absolute;
		bottom: -9px;
		left: 0;
		@media screen and (min-width: $tabwidth) {
			bottom: 0;
		}
	}
}

.group-start {
	width: 100%;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #fff;
	@media screen and (min-width: $tabwidth) {
		border-right: 1px solid $color-dark-gray;
		border-bottom: 0;
		width: 24%;
		float: left;
	}
	.img-center {
		width: 50%;
		margin: 0 auto  30px auto;

		@media screen and (min-width: $tabwidth) {
			width: 65%;
			float: left;
		}

	}
	h3 {
		margin: 0 0 30px 0;
	}
}
.group-item	{
	width: 50%;
	margin: 0 auto 30px auto;
	@media screen and (min-width: $tabwidth) {
		width: 24%;
		margin: 0;
		float: left;
	}
	.img-summit {
		width: 75%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 65%;
			margin: 0 auto;
		}
	}
	.img-packhouse {
		width: 100%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			margin: 15% auto 0 auto;
		}
	}
	.img-mayo {
		width: 75%;
		margin: 0 auto 50px auto;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			float: right;
		}
	}
	.img-joe {
		width: 75%;
		margin: 0 0 50px 15%;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			float: left;
		}
	}


}
.rollover {
	img {
		filter: brightness(15%) invert(0) sepia(100%);
		@include transition(all ease .3s);
		&:hover {
			filter: none;
		}
	}
}
section.header-info {
	width: 100%;
	position: relative;
	text-align: center;
	margin: 20px auto;

	@media screen and (min-width: $tabwidth) {
		width: auto;
		display: inline-block;
		float: right;
		margin: 20px 20px 0 0;
	}

	.phone {
		width: 100%;
		text-align: center;
		font: {
			size: 24px;
			weight: 300;
		}
		color: $color-teal;
		@media screen and (min-width: $tabwidth) {
			width:auto;
			float: left;
			margin-right: 10px;

		}
		a {
			color: $color-teal;
			text-decoration: none;
		}
	}
	.social {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width:auto;
			float: left;
		}
	}
	
}
.social {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 0 3px 0 3px;
		padding: 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0 0 5px;
		}
	}
	i {
		width: auto;
		height: auto;
		position: relative;
		
		font-size: 35px;
		transform: scale(1);
		@include transition(all ease .3s);
		&:hover {
			transform: scale(.8);
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&.social-head {
		i {
			color: $color-teal;
		}
	}
	&.social-footer {
		i {
			color: $color-dark-gray;
		}
	}
}
.food-truck-wrap {
	width: 90%;
	position: relative;
	margin: 40px 0 0 0;
	.food-truck-words {
		width: 80%;
		float: left;

	}
	.food-truck {
		width: 20%;
		float: right;
		img {width: 100%;}
		
	}
	a {
		display: inline-block;
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba(255,255,255,.2);
		}
	}
}
section.download {
	width: 100%;
	float: left;
	text-align: center;
	clear: both;
	margin: 20px auto;
}
.download-button {
	width: auto;
	display: inline-block;
	font: {
		family: $font__main;
		size: 18px;
	}
	a {
		width: auto;
		display: block;
		background-color: #fff;
		color: $color-orange;
		border: 2px solid $color-teal;
		padding: 10px 20px;
		border-radius: 5px;
		@include transition(all ease .3s);
		text-decoration: none;


		&:hover {
			background-color: $color-dark-gray;
			color: #fff;
			border: 2px solid $color-dark-gray;
		}
	}
	

}