$color__link : #6dc7be;
a {
	color: $color__link;
	text-decoration: none;
	/*&:visited {
		color: $color__link-visited;
	}*/
	&:hover,
	&:focus,
	&:active {
		color: #DD5830;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}